.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.student-data-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.student {
  display: flex;
  gap: 20px;
}

.student-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username {
  font-size: 14px;
  font-weight: 500;
}

.email {
  font-size: 12px;
  font-weight: 500;
}

.chart-information {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.percentage {
  font-weight: bold;
  font-size: 20px;
}

.duration {
  font-size: 14px;
}
